body {
  font-family: "SF-UI-Display-Light", sans-serif;
  font-weight: normal;
  color: #000;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1182px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 85px;
  font-family: "SF-UI-Display-Ultralight";
}

section {
  padding: 80px 0;
}

a, button, button:active, button:focus {
  outline: none;
}

header {
  border-bottom: 1px solid #eaeaea;
}

header .top-line {
  background: url("../img/top-line-bg.jpg");
  min-height: 40px;
}

header .top-line ul {
  margin: 0;
  padding: 0;
}

header .top-line ul li {
  display: inline-block;
  position: relative;
  padding-right: 55px;
  font-family: "SF-UI-Text-Regular";
}

header .top-line ul li:first-child p {
  color: #54c5d0;
}

header .top-line ul li:first-child:after {
  content: '';
  width: 55px;
  height: 1px;
  background-color: #3e3e3e;
  position: absolute;
  right: 0;
  bottom: 20px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

header .top-line ul li p {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 40px;
  color: #a3a3a3;
}

header .info-line {
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
  padding: 23px 0;
}

header .info-line .logo {
  float: left;
}

header .info-line .descr-wrap {
  float: right;
  background: #54c5d0;
  border-radius: 55px;
  color: #fff;
  padding: 5px 5px 5px 30px;
  margin-top: 12px;
}

header .info-line .descr-wrap p {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 18px;
  max-width: 320px;
  margin: 0;
  font-family: "SF-UI-Text-Regular";
}

header .info-line .descr-wrap .arrov {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}

header .info-line .descr-wrap .get {
  display: inline-block;
  vertical-align: middle;
  background: #e54b4b;
  border-radius: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px;
  float: right;
  font-family: "SF-UI-Text-Bold";
  font-size: 13px;
}

header #main-menu .btn-wrap {
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  display: none;
}

header #main-menu .btn-wrap #menu-button {
  font-size: 28px;
  background-color: transparent;
  color: #e54b4b;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  width: 100%;
}

header .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

header .menu li {
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-in-out;
}

header .menu li a {
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 40px;
  display: inline-block;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
  text-align: left;
}

header .menu li a:hover {
  background: #e54b4b;
  color: #fff;
}

header .menu li .sub-menu {
  position: absolute;
  left: 0;
  top: 50px;
  padding: 0;
  background: rgba(255, 255, 255, 0.95);
  min-width: 100%;
  box-sizing: border-box;
  display: none;
  z-index: 1000000;
}

header .menu li .sub-menu li {
  display: block;
  min-width: 100%;
  box-sizing: border-box;
}

header .menu li .sub-menu li a {
  color: #7e7e7e;
  min-width: 100%;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

header .menu li .sub-menu li a:hover {
  background: #e54b4b;
  color: #fff;
}

header .menu > li:hover .sub-menu {
  display: block;
}

#main-slider {
  background-color: #edf2ee;
  padding: 0;
}

#clients {
  padding: 45px 0px;
  border-bottom: 1px solid #e8e8e8;
}

#clients h3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #c3c3c3;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 50px;
  font-family: "SF-UI-Text-Light";
}

#clients .logos {
  display: inline-block;
  vertical-align: middle;
}

#clients .logos img {
  max-width: 100%;
  height: auto;
}

#open-possibility {
  font-size: 17px;
  overflow: hidden;
}

#open-possibility .descr {
  width: 48%;
  float: left;
  margin-top: 25px;
}

#open-possibility img {
  float: right;
  width: 47%;
}

#programs {
  background: #edf2ee url("../img/programs-bg.png") no-repeat center;
  background-size: contain;
  min-height: 500px;
  overflow: hidden;
}

#programs .programs-wrap {
  margin: 0 -6px;
  padding: 0;
  text-align: center;
}

#programs .programs-wrap li {
  list-style-type: none;
  position: relative;
  display: inline-block;
  height: 255px;
  overflow: hidden;
  margin: 3px;
}

#programs .programs-wrap li a {
  background: rgba(0, 0, 0, 0.5);
}

#programs .programs-wrap li img {
  width: 100%;
  height: auto;
}

#programs .programs-wrap li a {
  display: block;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#programs .programs-wrap li a .descr {
  position: absolute;
  top: 20%;
  width: 100%;
}

#programs .programs-wrap li a h4 {
  font-size: 22px;
  color: #54c5d0;
  font-weight: normal;
  margin: 0 auto 15px;
  font-family: "SF-UI-Display-Medium";
}

#programs .programs-wrap li a p {
  font-size: 15px;
  color: #fff;
  max-width: 260px;
  margin: 10px auto;
  font-family: "SF-UI-Text-Light";
}

#programs .programs-wrap li a .more {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 8%;
  font-family: "SF-UI-Text-Medium";
}

#programs .programs-wrap li a .more span {
  display: inline-block;
  background-color: #54c5d0;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 12px 50px;
  max-width: 100%;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#programs .programs-wrap li a .more span:hover {
  background-color: #e54b4b;
}

#video-previev,
#video-all,
#blog-all {
  padding-bottom: 50px;
}

#video-previev .wrap,
#video-all .wrap,
#blog-all .wrap {
  background-color: #eff3f0;
  padding: 20px 20px 60px;
  box-sizing: border-box;
  width: 31%;
  margin: 0 1%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#video-previev .wrap:hover,
#video-all .wrap:hover,
#blog-all .wrap:hover {
  background-color: #FFF;
  -webkit-box-shadow: 0px 2px 4px 0px #54c5d0;
  -moz-box-shadow: 0px 2px 4px 0px #54c5d0;
  box-shadow: 0px 0px 0px 3px #54c5d0;
}

#video-previev .wrap:hover .show,
#video-all .wrap:hover .show,
#blog-all .wrap:hover .show {
  background-color: #e54b4b;
}

#video-previev .wrap h4,
#video-all .wrap h4,
#blog-all .wrap h4 {
  font-size: 17px;
  font-weight: normal;
  min-height: 73px;
  margin-bottom: 0;
  text-decoration: none;
  color: #000;
  margin-top: 35px;
}

#video-previev .wrap .btn-wrap,
#video-all .wrap .btn-wrap,
#blog-all .wrap .btn-wrap {
  position: absolute;
  bottom: 40px;
  left: 0px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

#video-previev .wrap .show,
#video-all .wrap .show,
#blog-all .wrap .show {
  display: inline-block;
  background-color: #54c5d0;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 12px 50px;
  max-width: 100%;
  text-decoration: none;
  margin-top: 10px;
  font-family: "SF-UI-Text-Medium";
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#video-previev .wrap .show:hover,
#video-all .wrap .show:hover,
#blog-all .wrap .show:hover {
  background-color: #e54b4b;
}

#video-previev .wrap .thumb-wrap,
#video-all .wrap .thumb-wrap,
#blog-all .wrap .thumb-wrap {
  width: 100%;
  overflow: hidden;
  max-height: 217px;
  display: inline-block;
}

#video-previev .wrap .thumb-wrap img,
#video-all .wrap .thumb-wrap img,
#blog-all .wrap .thumb-wrap img {
  width: 100%;
  height: auto;
}

#video-previev .all-btn-wrap,
#video-all .all-btn-wrap,
#blog-all .all-btn-wrap {
  border-top: 1px solid #54c5d0;
  text-align: center;
  margin: 80px auto 0;
  max-width: 1130px;
}

#video-previev .all-btn-wrap a,
#video-all .all-btn-wrap a,
#blog-all .all-btn-wrap a {
  display: inline-block;
  padding: 12px 50px;
  border-radius: 50px;
  color: #54c5d0;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "SF-UI-Text-Bold";
  text-decoration: none;
  background-color: #FFF;
  position: relative;
  top: -20px;
  transition: all 0.2s ease-in-out;
}

#video-previev .all-btn-wrap a:hover,
#video-all .all-btn-wrap a:hover,
#blog-all .all-btn-wrap a:hover {
  background-color: #54c5d0;
  color: #fff;
}

#video-previev .wrap {
  padding-bottom: 80px;
}

#video-previev .wrap h4 {
  margin-top: 30px;
}

#blog-all .data {
  font-size: 13px;
  font-family: "SF-UI-Text-Bold";
  color: #949494;
  padding: 0px 30px;
  margin-bottom: 20px;
  text-align: left;
}

#video-all .wrap,
#blog-all .wrap {
  margin-bottom: 30px;
}

#video-all .wrap h4,
#blog-all .wrap h4 {
  text-align: left;
  padding: 0 20px;
  font-family: "SF-UI-Display-Bold";
}

#video-all .wrap .btn-wrap,
#blog-all .wrap .btn-wrap {
  padding: 0 40px;
}

#video-all .wrap .btn-wrap .show,
#blog-all .wrap .btn-wrap .show {
  background: transparent;
  color: #54c5d0;
  padding: 0;
  margin: 0;
  float: left;
}

#video-all .wrap .tags,
#blog-all .wrap .tags {
  display: inline-block;
  float: right;
  margin: 0;
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-family: "SF-UI-Text-Medium";
  color: #a0a1a0;
  text-decoration: none;
  line-height: 13px;
}

#video-all .wrap .tags:before,
#blog-all .wrap .tags:before {
  content: '';
  background: url("../img/redact-icon.png") no-repeat left center;
  position: absolute;
  width: 22px;
  height: 20px;
  left: -30px;
  top: -3px;
}

#blog-all .wrap {
  padding: 20px 0px 60px;
}

#blog-all .wrap .btn-wrap {
  padding: 0 30px;
}

#blog-all .wrap h4 {
  padding: 0 30px;
}

#about-gil {
  background: #edf2ee url("../img/programs-bg.png") no-repeat center;
}

#about-gil .gil-bxslider {
  padding: 0;
  margin: 0;
}

#about-gil .gil-bxslider img {
  display: inline-block;
  vertical-align: middle;
  width: 21%;
  height: auto;
  margin-right: 4%;
}

#about-gil .gil-bxslider .descr {
  display: inline-block;
  vertical-align: middle;
  width: 72%;
  font-size: 20px;
  color: #484848;
}

#about-gil .gil-bxslider li {
  padding: 67px 0;
}

#about-gil #bx-pager-scheme {
  overflow: hidden;
  border-bottom: 1px solid #54c5d0;
}

#about-gil #bx-pager-scheme a {
  text-decoration: none;
  display: inline-block;
  height: 107px;
  padding: 65px 10px 0;
  width: 20%;
  font-family: "SF-UI-Text-Bold";
  text-align: center;
  box-sizing: border-box;
  float: left;
  transition: all 0.2s ease-in-out;
}

#about-gil #bx-pager-scheme a:hover h4 {
  color: #929292;
}

#about-gil #bx-pager-scheme a:nth-child(1) {
  background: url("../img/about-gil-icon-1.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(1):hover {
  background: url("../img/about-gil-icon-1-hov.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(1).active {
  background: url("../img/about-gil-icon-1-act.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(2) {
  background: url("../img/about-gil-icon-2.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(2):hover {
  background: url("../img/about-gil-icon-2-hov.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(2).active {
  background: url("../img/about-gil-icon-2-act.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(3) {
  background: url("../img/about-gil-icon-3.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(3):hover {
  background: url("../img/about-gil-icon-3-hov.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(3).active {
  background: url("../img/about-gil-icon-3-act.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(4) {
  background: url("../img/about-gil-icon-4.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(4):hover {
  background: url("../img/about-gil-icon-4-hov.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(4).active {
  background: url("../img/about-gil-icon-4-act.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(5) {
  background: url("../img/about-gil-icon-5.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(5):hover {
  background: url("../img/about-gil-icon-5-hov.png") no-repeat center top;
}

#about-gil #bx-pager-scheme a:nth-child(5).active {
  background: url("../img/about-gil-icon-5-act.png") no-repeat center top;
}

#about-gil #bx-pager-scheme .active {
  border-bottom: 4px solid #54c5d0;
}

#about-gil #bx-pager-scheme .active h4 {
  color: #54c5d0;
}

#about-gil #bx-pager-scheme .active:hover h4 {
  color: #54c5d0;
}

#about-gil #bx-pager-scheme h4 {
  color: #5e5f5f;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

#about-gil .bx-wrapper {
  position: relative;
}

#about-gil .bx-controls {
  width: 95%;
  font-size: 60px;
  display: none;
}

#about-gil .bx-controls .bx-prev {
  left: 0;
  color: #929292;
  position: absolute;
  top: 50%;
  margin-top: -130px;
  z-index: 1000;
}

#about-gil .bx-controls .bx-prev:hover {
  color: #54c5d0;
}

#about-gil .bx-controls .bx-next {
  right: 0;
  color: #929292;
  position: absolute;
  top: 50%;
  margin-top: -130px;
  z-index: 1000;
}

#about-gil .bx-controls .bx-next:hover {
  color: #54c5d0;
}

.hidden {
  display: none;
}

.info-wrap {
  background-color: #ededed;
  width: 805px;
  max-width: 100%;
  height: 615px;
  max-height: 100vh;
  padding: 80px 30px 60px 80px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.info-wrap .mfp-close {
  font-size: 0;
  width: 45px;
  height: 45px;
  right: 10px;
  top: 10px;
  background: url("../img/close.png");
}

.info-wrap .mfp-close:hover {
  background-position: 45px 0;
}

.info-wrap .info {
  max-height: 415px;
  height: 60vh;
}

.info-wrap h4 {
  font-size: 30px;
  font-family: "SF-UI-Display-Ultralight";
  color: #3c3c3c;
  margin: 0 0 25px;
}

.info-wrap p {
  font-family: "SF-UI-Text-Medium";
  font-size: 13px;
  line-height: 20px;
  margin: 30px 0;
  color: #3c3c3c;
}

.mfp-bg {
  background: #3c3c3c;
  opacity: 0.95;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #3c3c3c;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background: #c2c2c2;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

footer {
  background: #222222 url("../img/footer-bg.jpg") no-repeat center top;
  background-size: contain;
  overflow: hidden;
  padding: 70px 0;
}

footer .col {
  width: 33%;
  text-align: center;
  float: left;
  overflow: hidden;
}

footer .col:first-child {
  text-align: left;
}

footer .col h5 {
  font-size: 20px;
  color: #5b5b5b;
  font-weight: normal;
  margin: 0 0 10px 6px;
}

footer .col .contacts ul li {
  margin-bottom: 20px;
}

footer .col .contacts ul li img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

footer .col .contacts ul li p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 17px;
  color: #b7b7b7;
}

footer .col .contacts ul li:first-child p {
  font-family: "SF-UI-Display-Bold";
}

footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .col .social {
  margin: 30px 0;
}

footer .col .social li {
  display: inline-block;
  margin-right: 17px;
}

footer .col .social li:last-child {
  margin-right: 0;
}

footer .col .social li a {
  color: #5b5b5b;
  font-size: 36px;
}

footer .col .social li a:hover {
  color: #e54b4b;
}

footer .col .menu-wrap {
  display: inline-block;
  text-align: left;
}

footer .col .menu-wrap ul li a {
  color: #b7b7b7;
  font-size: 15px;
  text-decoration: none;
  display: block;
  padding: 9px 6px;
  box-sizing: border-box;
  font-family: "SF-UI-Text-Light";
}

footer .col .menu-wrap ul li a:hover {
  background-color: #54c5d0;
  color: #232323;
}

footer .site-info {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  margin-top: 60px;
}

footer .site-info p {
  color: #5b5b5b;
  margin: 0;
}

footer .site-info a {
  color: #9e9e9e;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  border-left: 1px solid #5b5b5b;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

footer .site-info a:hover {
  color: #54c5d0;
}

footer .site-info .copyright {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}

footer .site-info .other-info {
  margin-top: 22px;
}

.clear {
  clear: both;
}

.tparrows:before {
  color: #54c5d0 !important;
}
